body {
    background-color: dodgerblue;
}
span {
    color: red;
}
h1 {
    background-color: aliceblue;
    text-align: center;
}
p {
    background-color: gold;
    text-align: justify;
    /* margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-left: 50px; */

    margin: 30px 50px 30px 50px;

    /* margin: 30px 50px; */

    /* margin: 50px; */
}

.box-1 {
    width: 50%;
    margin: auto;
}