div {
   min-height: 50px;  
}
.box-1 {
    background-color: cornflowerblue;  
    width: 50%;
    min-width: 300px;
}
.box-2 {
    background-color: crimson;
    width: 80%;
    max-width: 700px;
}
.box-3 {
    background-color: blueviolet;
    min-height: 110px;
    height: 150px;
}
.box-4 {
    background-color: cadetblue;
}
.box-5 {
    background-color: tomato;
}